<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/boot.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Php Library Test Suite">
            <directory suffix="Test.php">libs/data-parser/test</directory>
            <directory suffix="Test.php">libs/di/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">libs/data-parser/src</directory>
            <directory suffix=".php">libs/di/src</directory>
        </whitelist>
    </filter>
</phpunit>
